<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container">
			<main>
				<h3 th:text="${edicion}?'Modificar Consejo':'Nuevo Consejo'"></h3>
				<form th:action="${edicion}?@{/consejo/modificar}:@{/consejo/guardar}" th:object="${consejo}" method="post">
					<label for="codigo">Código de Consejo</label>
					<input type="number" id="codigo" name="consejo_codigo" th:field="*{codigoConsejo}" th:readonly="${edicion}?'readonly'"><br><br>
					
					<label for="titulo">Titulo del Consejo</label>
					<input type="text" id="titulo" name="consejo_titulo" th:field="*{tituloConsejo}"><br><br>
					
					<label for="contenido">Contenido</label>
					<input type="text" id="contenido" name="consejo_contenido" th:field="*{contenidoConsejo}"><br><br>
					
					<label for="fecha">Fecha de Public.</label>
					<input type="date" id="fecha" name="consejo_fecha" th:field="*{fechaPublicacionConsejo}"><br><br>
					
					<label for="autor">Autor</label>
					<input type="text" id="autor" name="consejo_autor" th:field="*{autorConsejo}"><br><br>
					
					
					<label for="categoria">Categoria</label>
					<select id="categoria" name="consejo_categoria" th:field="*{categoriaConsejo}"><br><br>
						<option value="Alimentacion">Alimentacion</option>
						<option value="Actividad fisica">Actividad fisica</option>
						<option value="Visitas veterinarias">Visitas veterinarias</option>
						<option value="Entretenimiento">Entretenimiento</option>
					</select><br><br>
					
					
					<p>
						<input type="submit" class="button" th:value=${edicion}?'Modificar':'Guardar'>
					</p>
				</form>		
		    </main>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>