<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{layouts/head :: head}">
	 <!-- <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" th:href="@{/css/estilos.css}">  --> 
	</head>
	<body>
	  <header th:replace="~{layouts/header :: header}"></header>
	  <nav th:replace="~{layouts/nav :: nav}"></nav>
	  <div class="container">
		<main>
			<h2 class="mt-5 mb-3">Listado de consejos</h2>
		<!-- 	<table class="table"> -->
			<table class="table table-striped table-hover mb-5"> 
				<thead >
			 	   <tr>
			 	  	<!--   <th scope="col">Nro de ID</th>-->
					  <th scope="col">Código</th>
					  <th scope="col">Título</th>
					  <th scope="col">Contenido</th>
					  <th scope="col">Fecha public.</th>
					  <th scope="col">Autor</th>
					  <th scope="col">Categoría</th>
					  <th scope="col">Acciones</th>
				   </tr>
			   </thead>
			   <tr th:each="consej: ${consejos}">
				 <!--   <td th:text="${consej.id}"></td>-->
			       <td th:text="${consej.codigoConsejo}"></td>
				   <td th:text="${consej.tituloConsejo}"></td>
				   <td th:text="${consej.contenidoConsejo}"></td>
				   <td th:text="${#temporals.format(consej.fechaPublicacionConsejo, 'dd-MM-yyyy')}"></td>
				   <td th:text="${consej.autorConsejo}"></td>
				   <td th:text="${consej.categoriaConsejo}"></td>
				   <td>	   
					  <a th:href="@{/consejo/modificar/}+${consej.id}" class="btn btn btn-outline-success btn-sm">Editar</a>
					  <a th:href="@{/consejo/eliminar/}+ ${consej.id}" class="btn btn btn-outline-danger btn-sm">Eliminar</a>
				   </td>
			   </tr>
		    </table>	
		 </main>
	  </div>
	  <footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>