<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Tienda de Mascotas - G32</title>
	</head>
	<body>
		<header>
			<img src="../static/images/logo.png" alt="Tienda De Mascotas">
			<h1>TIENDA DE MASCOTAS</h1>
			<p>Soluciones integrales para la atención de tus mascotas</p>
			<p>Lo pedís, lo tenés - ENVIOS GRATIS</p>
			<p>TIPS para mascotas felices</p>
			<p>Adoptá a tu mascota</p>
		</header>
		
		<nav>
			<ul>
				<li><a href="index.html" title="Página de Inicio">Inicio</a></li>
				<li><a href="productos.html" title="Productos">Productos</a></li>
				<li><a href="consejos.html" title="Consejos">Consejos de Salud</a></li>
				<li><a href="servicio-de-paseo.html" title="Sevicio de Paseos">Servicio de Paseos</a></li>
				<li><a href="sucursales.html" title="Sucursales">Sucursales</a></li>
				<li><a href="contactos.html" title="Contactos">Contáctanos</a></li>
			</ul>
		</nav>
		
		<main>
			<h1>Consejos para cuidar nuestras mascotas</h1>
			<section>
				<article>
					<h2><strong>¿Cómo elegir el alimento para tu cachorro?</strong></h2>
					<img src="../static/images/como-elegir-el-alimento.jpg" alt="¿Cómo elegir el alimento para nuestas mascotas">
					<p>Que tener en cuenta para elegir el alimento que le dará a tu cachorro una nutrición completa y equilibrada para que se convierta en un gran perro​.<br/>
					   Los alimentos para mascotas de bajo costo no le dan a tu perro una nutrición de primera calidad.<br/>
					   Cuando tu cachorro se siente bien por dentro, se nota por fuera, y lo demuestra todos los días con energía y un pelo brilloso.<br/> 
					   Hay algunos signos que te indican si tu perro está sacando provecho de su alimento.</p>
					
					<h3><strong>Dónde comprar</strong></h3>
					<p>En <em><strong>Tienda de Mascotas</strong></em> te damos el asesoramiento experto sobre la alimentación de tu perro teniendo en cuenta su edad, el tamaño de la raza y las intolerancias.</p>
					
					<h3><strong>Busca calidad</strong></h3>
					<p>Revisa la lista de ingredientes para saber qué contiene realmente la comida de tu perro.</p>
					
					<h3><strong>Busca la mejor relación precio-calidad</strong></h3>
					<p>Para darle a tu perro alimento seco de alta calidad sigue las instrucciones detalladas. A partir de estos datos podrás calcular el número de comidas por kilo y la cantidad de raciones que rinde cada bolsa.<br/>
					   Haz una comparación tomando en cuenta lo que cuesta cada comida. Una bolsa de 15 kg de alimento seco puede parecer cara, pero quizá te permita alimentar a tu perro durante dos meses.</p>
					
					<img src="../static/images/dos-perritos-comiendo.jpg" alt="Dos perritos comiendo"><br/>

					<h3><strong>No cambies de comida</strong></h3>
					<p>Con una comida completa y equilibrada tu perro no necesita nada más. Si tiene molestias estomacales, probablemente se trata de algo que comió afuera. No conviene cambiar de dieta o de suplemento si no lo recomienda el veterinario. 
					   Como recompensa o para jugar, puedes darle golosinas especiales para perros.<br/>
					   La comida enlatada puede contener hasta un 80% de agua y hay que consumirla en poco tiempo una vez abierta. 
					   El alimento seco de gran calidad contiene menos del 10% de agua, es muy digerible, práctico y se mantiene fresco varias semanas después de abrir la bolsa.</p>

					<h3><strong>¿Cómo leer las etiquetas?</strong></h3>
					<p>Te lleva menos de un minuto leer la etiqueta de un alimento para perros, pero la información que refleja es esencial para tu decisión de compra.<br />
					   El nombre del alimento da indicios sobre qué cantidad de un ingrediente se encuentra realmente presente. 
					   Por ejemplo, los alimentos que incluyen una fuente de proteínas en el nombre del producto, por ejemplo &quot;Fórmula de carne&quot;, tienen que contener por lo menos un 25% de ese ingrediente.<br />
					   El panel de ingredientes incluye una lista con todas las fuentes de alimento del producto en orden descendente. 
					   En el caso del alimento seco, un ingrediente clave tiene que ser una fuente de proteínas de alta calidad, como pollo o cordero.</p>
					<p>Se debe incluir el número de teléfono del fabricante. Esto demuestra que la compañía acepta los comentarios de sus clientes. 
					   Todos los productos de alta calidad deben encontrarse 100% garantizados o se te devuelve tu dinero.</p>
					<p>La etiqueta también recomienda con qué cantidad alimentar a su perro diariamente. Utiliza estas recomendaciones como punto de inicio para determinar las cantidades de alimentación.</p>
				</article>
				
				<article>
					<h2><strong>Consejos para cuidar nuestras mascotas en cuarentena</strong></h2>
					<img src="../static/images/consejos-durante-la-cuarentena.jpg" alt="Consejos para nuestras Mascotas">
					<p>Son tiempos de mucha responsabilidad y cuidado, eso nos incluye a todos los que vivimos en casa.</p>
					<p>Por eso te damos algunos tips para que entre todos podamos llevar la cuarentena adelante, de la mejor manera posible.</p>
					<img src="../static/images/consejos-durante-la-cuarentena-01.jpg" alt="Consejos para nuestras Mascotas 01">
					<img src="../static/images/consejos-durante-la-cuarentena-02.jpg" alt="Consejos para nuestras Mascotas 02">
					<img src="../static/images/consejos-durante-la-cuarentena-03.jpg" alt="Consejos para nuestras Mascotas 03">
				</article>
				
				<article>
					<h2><strong>Evaluar la condición física de nuestras mascotas</strong></h2>
					<img src="../static/images/Control-de-peso.jpg" alt="Control de peso de  nuestras Mascotas">
					<p>Debés vigilar de forma continua la condición física del perro para lograr el máximo rendimiento.<br/>
					  ¿Mantiene un peso óptimo, según el tipo, la duración y la intensidad de sus actividades?</p>
					
					<h3><strong>Cómo controlar la condición física</strong></h3>
					<p>Para evaluar la condición física, colocá las manos a los costados de la caja torácica del perro y bajá con cuidado las manos hasta el esternón.</p>

					<h3><strong>Indicadores clave</strong></h3>
					<p>Si las costillas sobresalen, es probable que el perro esté demasiado delgado.</p>
					<p>Si podés sentir cada unas de las costillas y el abdomen está ligeramente metido cuando lo ves, significa que su peso es el adecuado.</p>
					<p>Si no podés detectar las costillas de forma fácil, le falta cintura o le cuelga la panza, significa que necesita perder peso.</p>

					<h3><strong>¿Por qué motivos un perro puede tener sobrepeso?</strong></h3>
					<p>En resumen, es probable que el perro consuma más calorías de las que quema. 
					   Los perros de alto rendimiento queman más calorías durante las competencias o debido a la alta carga de trabajo, y menos durante los periodos de menor actividad.</p>

					<h3><strong>Manejo de la nutrición</strong></h3>
					<p>Si descubrís que el perro no tiene un peso óptimo según su nivel de actividad, un buen primer paso para controlarlo es evaluar su nutrición. 
					   Durante la temporada baja de los perros de alto rendimiento, es posible que se deban ajustar los horarios de alimentación o cambiar a un producto con menos energía concentrada. 
					   Si necesitás más ayuda con la elección de un producto o con el tamaño de las porciones, comunicate con el veterinario.</p>
					
					<p><a href="https://www.eukanuba.com/ar/health-and-fitness/health-and-fitness-articles/evaluating-body-condition" target=_blank>Fuente Eukanuba.com</a></p>
				</article>
			
			</section>
	    </main>
	    <footer>
			<p><strong>Tienda de Mascotas</strong> - Grupo 32 - &lt;Programacion Visual&gt; -  &copy; Copyright  - Jujuy - Argentina.</p>
		</footer>
	</body>
</html>