<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	 <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	 </head>
	 <body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container">
			<main>
				<h3>Envianos tu consulta</h3>
		  		<form class="formContacto" action="#">
					<br>
					<li>
					    <label for="name">Nombre:</label><br>
					    <input class="field" type="text" id="name" name="name0">
			  		</li><br>	
			  		<li>
					    <label for="name">Email:</label><br>
					    <input class="field" type="email" id="email" name="email0">
			  		</li><br>	
			  		<li>
					    <label for="name">Ciudad:</label><br>
					    <input class="field" type="text" id="ciudad" name="ciudad0">
			  		</li><br>	
			  		<li>
			    		<label for="msg">Mensaje:</label><br>
			    		<textarea class="field"></textarea><br>
			  		</li><br>
			 		
			 		<input type="submit" value="Enviar"
			 		  			class="btn-green" />
			 		<br>	 				
				</form>
		    </main>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>