<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="~{layouts/head :: head}">
    <title>Tienda de Mascotas - G32</title>
  </head>
  <body>
    <header th:replace="~{layouts/header :: header}"></header>
    <nav th:replace="~{layouts/nav :: nav}"></nav>
    <div class="container">
      <main>
        <div class="backgnd-especial">
          <img
            class="img-destacada"
            src="/images/Tienda-transp.png"
            alt="Quienes somos"
          />
        </div>
        <section>
          <article>
            <h2>QUIÉNES SOMOS</h2>
            <p>
              Tienda de Mascotas nace con el objetivo de dar a los animales y a
              sus propietarios todo lo que estos necesitan, de una forma
              sencilla y a un precio inferior al resto de las otras tiendas.
            </p>
            <p>Cuenta además con amparo y asesoramiento veterinario.</p>
          </article>
          <article>
            <h2 class="esp-sup">MISIÓN Y VISIÓN</h2>
            <div class="caja-img-titulo">
              <img
                src="/images/Perrito.png"
                alt="Perrito"
                title="Nuestra Misión"
              />
              <h3>MISIÓN</h3>
            </div>
            <p>
              Contribuimos a crear un mundo mejor, ayudando a amar y proteger a
              sus mascotas.
            </p>
            <p>
              Basados en nuestro equipo de trabajo somos solidarios socialmente,
              brindando la mayor cantidad de trabajo posible, innovando
              constantemente y logrando un prestigio que nos haga perdurar en el
              tiempo.
            </p>
            <p>
              Invirtiendo e innovando en proyectos para ampliar la estructura y
              seguir creciendo en otras ciudades.
            </p>
            <p>
              Aportando y participando solidariamente para crear una comunidad
              inclusiva y el cuidado del medio ambiente.
            </p>

            <div class="caja-img-titulo">
              <img
                src="/images/Gatito.png"
                alt="Gatito"
                title="Nuestra visión"
              />
              <h3>VISIÓN</h3>
            </div>
            <p>
              Ser una empresa moderna y sólida, líder en el país y con
              proyección internacional.
            </p>
            <p>
              Liderada por un equipo con acceso a la más alta calidad de
              capacitación y con una mirada colaborativa e inclusiva.
            </p>
          </article>
        </section>
        <section>
          <article>
            <h3 class="esp-sup">INFORMACIÓN</h3>
            <ul>
              <li><a href="#">Condiciones de Envío</a></li>
              <li><a href="#">Aviso legal</a></li>
              <li><a href="#">Pago seguro</a></li>
              <li><a href="#">Condiciones de uso</a></li>
              <li><a href="#">Condiciones de Envío</a></li>
              <li><a href="#">Privacidad</a></li>
              <li><a href="#">Política de cookies</a></li>
              <li><a href="#">Mapa del sitio</a></li>
            </ul>
          </article>
        </section>
        <section>
          <article>
            <a href="#">
              <img
                src="/images/Promociones.png"
                alt="Promociones y descuentos"
            /></a>
          </article>
        </section>
      </main>
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
  </body>
</html>
