<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	 <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	 </head>
	 <body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container">
			<main>
				<section>
					<h1 class="esp-sup">Nuestros Productos</h1>
					<a th:href="@{#}">  <img src="/images/dog-selection.png" alt="Dog Selection"></a>
					<a th:href="@{#}">  <img src="/images/Valiant_Logo.png" alt="Vailant Criadores"></a>
					<a th:href="@{#}">  <img src="/images/Vital-can.png" alt="Vital Can"></a>
					<a th:href="@{#}">  <img src="/images/Logo-Sieger.png" alt="Vital Can"></a>
					<a th:href="@{#}">  <img src="/images/Logo-Farmina.png" alt="Farmina"></a>
					<a th:href="@{#}">  <img src="/images/pedigree.png" alt="Pedigree"></a>
					<a th:href="@{#}">  <img src="/images/royal-canin.png" alt="Royal Canin"></a>
					<a th:href="@{#}">  <img src="/images/dog-chaw.png" alt="Dog Chow"></a>
				</section>
				<section>
					<article>
						<h2 class="esp-sup">Categorías</h2>
						<div class="listas">
						    <div class="lista">
						        <h4><a href="#" title="">Perros</a></h4>
						        <ul>
						            <li><a th:href="@{#}" title="">Comida para perros</a></li>
						            <li><a th:href="@{#}" title="">Antiparasitarios Perro</a></li>
						            <li><a th:href="@{#}" title="">Snacks Perro</a></li>
						            <li><a th:href="@{#}" title="">Peluquería e Higiene Perro</a></li>
						            <li><a th:href="@{#}" title="">Paseo Perro</a></li>
						            <li><a th:href="@{#}" title="">Transporte y Viaje</a></li>
						            <li><a th:href="@{#}" title="">Cuidado de la salud perro</a></li>
						            <li><a th:href="@{#}" title="">Puertas, confort y descanso</a></li>
						            <li><a th:href="@{#}" title="">Adiestramiento y educación</a></li>
						            <li><a th:href="@{#}" title="">Juguetes perros</a></li>
						            <li><a th:href="@{#}" title="">Comederos y bebederos perros</a></li>
						            <li><a th:href="@{#}" title="">Ropa para perros</a></li>
						        </ul>
						    </div>
						
						    <div class="lista">
							     <h4><a href="#" title="">Gatos</a></h4>
							     <ul>
							         <li><a th:href="@{#}" title="">Rascadores gatos</a></li>
							         <li><a th:href="@{#}" title="">Comida gatos</a></li>
							         <li><a th:href="@{#}" title="">Golosinas gatos</a></li>
							         <li><a th:href="@{#}" title="">Cuidado de la salud gato</a></li>
							         <li><a th:href="@{#}" title="">Antiparasitarios gatos</a></li>
							         <li><a th:href="@{#}" title="">Peluquería y baño</a></li>
							         <li><a th:href="@{#}" title="">Peluquería e Higiene gatos</a></li>
							         <li><a th:href="@{#}" title="">Arenas y suministros gatos</a></li>
							         <li><a th:href="@{#}" title="">Malta gatos</a></li>
							         <li><a th:href="@{#}" title="">Paseo Gato</a></li>
							         <li><a th:href="@{#}" title="">Transporte y viaje con gatos</a></li>
							         <li><a th:href="@{#}" title="">Juguetes gatos</a></li>
							         <li><a th:href="@{#}" title="">Puertas, confort y descanso gatos</a></li>
							         <li><a th:href="@{#}" title="">Comederos y bebedores gatos</a></li>
							         <li><a th:href="@{#}" title="">Adiestramiento y educación gatos</a></li>
							         <li><a th:href="@{#}" title="">Dietas veterinarias Gato</a></li>
							     </ul>
							 </div>
						</div>
					</article>
				</section>
				<section>
					<h2 class="esp-sup">Productos Destacados</h2>
					<article>
						<figure>
							<img src="/images/cunas.png" alt="Cunas para Perros">
							<figcaption>
								<em>Oferta</em> de la Semana
							</figcaption>
						</figure>
					</article>
					<article>
						<figure>
							<img src="/images/cama-redonda.png" alt="Camas redondas para perros">
							<figcaption>
								<em>Oferta</em> de la Semana
							</figcaption>
						</figure>
					</article>
					<article>
						<p>Mira más juguetes para gatos haciendo <strong>clik</strong> en la imagen</p>
						<a th:href="@{#}"><img src="/images/poste-gatos.jpg" alt="Trixie Poste Rascador Galeno"></a>
					</article>
				</section>
		        <section>
		          <article>  
		            <a th:href="@{#}">
		              <img src="/images/Promociones.png" alt="Promociones y descuentos"/>
		            </a>
		          </article>
		        </section>
		    </main>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>