<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Tienda de Mascotas - G32</title>
	</head>
	<body>
		<header>
			<img src="../static/images/logo.png" alt="Tienda De Mascotas">
			<h1>TIENDA DE MASCOTAS</h1>
			<p>Soluciones integrales para la atención de tus mascotas</p>
			<p>Lo pedís, lo tenés - ENVIOS GRATIS</p>
			<p>TIPS para mascotas felices</p>
			<p>Adoptá a tu mascota</p>
		</header>
		
		<nav>
			<ul>
				<li><a href="index.html" title="Página de Inicio">Inicio</a></li>
				<li><a href="productos.html" title="Productos">Productos</a></li>
				<li><a href="consejos.html" title="Consejos">Consejos de Salud</a></li>
				<li><a href="sevicio-de-paseo" title="Sevicio de Paseo">Servicio de Paseo</a></li>
				<li><a href="sucursales.html" title="Sucursales">Sucursales</a></li>
				<li><a href="contactos.html" title="Contactos">Contáctanos</a></li>
			</ul>
		</nav>
		
		<main>
			<section>
				<img src="../static/images/Promociones.png" alt="Promociones y Descuentos">
			</section>
			<section>
				<h1>Nuestros Productos</h1>
				<a href="#">  <img src="../static/images/dog-selection.png" alt="Dog Selection"></a>
				<a href="#">  <img src="../static/images/Valiant_Logo.png" alt="Vailant Criadores"></a>
				<a href="#">  <img src="../static/images/Vital-can.png" alt="Vital Can"></a>
				<a href="#">  <img src="../static/images/Logo-Sieger.png" alt="Vital Can"></a>
				<a href="#">  <img src="../static/images/Logo-Farmina.png" alt="Farmina"></a>
				<a href="#">  <img src="../static/images/pedigree.png" alt="Pedigree"></a>
				<a href="#">  <img src="../static/images/royal-canin.png" alt="Royal Canin"></a>
				<a href="#">  <img src="../static/images/dog-chaw.png" alt="Dog Chow"></a>
			</section>
			<section>
				<article>
					<h2><strong>Categorias</strong></h2>
					
					<h4><a href="#" title="">Perros</a></h4>
					<ul>
	                    <li><a href="#" title="">Comida para perros</a></li>
	                    <li><a href="#" title="">Antiparasitarios Perro</a></li>
	                    <li><a href="#" title="">Snacks Perro</a></li>
	                    <li><a href="#" title="">Peluquería e Higiene Perro</a></li>
	                    <li><a href="#" title="">Paseo Perro</a></li>
	                    <li><a href="#" title="">Transporte y Viaje</a></li>
	                    <li><a href="#" title="">Cuidado de la salud perro</a></li>
	                    <li><a href="#" title="">Puertas, confort y descanso</a></li>
	                    <li><a href="#" title="">Adiestramiento y educación</a></li>
	                    <li><a href="#" title="">Juguetes perros</a></li>
	                    <li><a href="#" title="">Comederos y bebederos perros</a></li>
	                    <li><a href="#" title="">Ropa para perros</a></li>
	                </ul>
	                
	                
	                <h4><a href="#" title="">Gatos</a></h4>
	           		<ul>
	           			<li><a href="#" title="">Rascadores gatos</a></li>
	                    <li><a href="#" title="">Comida gatos</a></li>
	                    <li><a href="#" title="">Golosinas gatos</a></li>
	                    <li><a href="#" title="">Cuidado de la salud gato</a></li>
	                    <li><a href="#" title="">Antiparasitarios gatos</a></li>
	                    <li><a href="#" title="">Peluquería y baño</a></li>
	                    <li><a href="#" title="">Peluquería e Higiene gatos</a></li>
	                    <li><a href="#" title="">Arenas y suministros gatos</a></li>
	                    <li><a href="#" title="">Malta gatos</a></li>
	                    <li><a href="#" title="">Paseo Gato</a></li>
	                    <li><a href="#" title="">Transporte y viaje con gatos</a></li>
	                    <li><a href="#" title="">Juguetes gatos</a></li>
	                    <li><a href="#" title="">Puertas, confort y descanso gatos</a></li>
	                    <li><a href="#" title="">Comederos y bebedores gatos</a></li>
	                    <li><a href="#" title="">Adiestramiento y educación gatos</a></li>
	                    <li><a href="#" title="">Dietas veterinarias Gato</a></li>
	                </ul>
				</article>
			</section>
			
			<section>
				<h2><strong>Productos Destacados</strong></h2>
				<article>
					<figure>
						<img src="../static/images/cunas.png" alt="Cunas para Perros">
						<figcaption>
							<em>Oferta</em> de la Semana
						</figcaption>
					</figure>
				</article>
				
				<article>
					<figure>
						<img src="../static/images/cama-redonda.png" alt="Camas redondas para perros">
						<figcaption>
							<em>Oferta</em> de la Semana
						</figcaption>
					</figure>
				</article>
				
				<article>
					<p>Mira más juguetes para gatos haciendo <strong>clik</strong> en la imagen</p>
					<a href="#"><img src="../static/images/poste-gatos.jpg" alt="Trixie Poste Rascador Galeno"></a>
				</article>
			</section>
	    </main>
	   	<footer>
			<p><strong>Tienda de Mascotas</strong> - Grupo 32 - &lt;Programacion Visual&gt; -  &copy; Copyright  - Jujuy - Argentina.</p>
		</footer>
	</body>
</html>