<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	 <head th:replace="~{layouts/head :: head}">
	  <!--  <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">  --> 
	 </head>
	 <body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
	    	
	<div class="container">
			<main>
				<div class="row g-5 ">
			      <div class="col-md-7 col-lg-8 mx-auto">
			        <h3 class="mt-5 mb-3" >Nuevo Producto</h3>
			        
		
			        <form class="mt-3" th:action="@{/producto/guardar}" th:object="${producto}" method="post">
			          <div class="row g-3">
			          
			            <div class="col-sm-6">
			              <label for="codigo" class="form-label">Código del Producto</label>
			              <input type="number" class="form-control" id="codigo" name="producto_codigo" th:field="*{codigoProducto}" readonly="readonly">
			              <!-- 
			              <input type="number" class="form-control" id="codigo" name="producto_codigo" th:field="*{codigoProducto}">
			               -->
			              <div class="text-danger" th:if="${#fields.hasErrors('codigoProducto')}" th:errors="*{codigoProducto}"></div>  
			            </div>		            
          
			            <div class="col-sm-6">
			              <label for="nombre" class="form-label">Nombre del Producto</label>
			              <input type="text" class="form-control" id="nombre" name="producto_nombre" th:field="*{nombreProducto}">
			              <div class="text-danger" th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}"></div>
			            </div>
			            
				        <div class="col-sm-6">
				             <label for="precio" class="form-label">Precio del Producto</label>
				             <input type="number" class="form-control" id="precio" name="producto_precio" th:field="*{precioProducto}">
				             <div class="text-danger" th:if="${#fields.hasErrors('precioProducto')}" th:errors="*{precioProducto}"></div>  
				        </div>
				            
				        <div class="col-sm-6">
				            <label for="descuento" class="form-label">Descuento del Producto</label>
				            <input type="number" class="form-control" id="descuento" name="producto_descuento" th:field="*{descuentoProducto}">
				            <div class="text-danger" th:if="${#fields.hasErrors('descuentoProducto')}" th:errors="*{descuentoProducto}"></div>
				        </div>
							
			            <div class="col-md-4">
			              <label for="categoria" class="form-label">Categoria del Producto</label>
			              <select class="form-select" id="categoria" name="producto_categoria" th:field="*{categoriaProducto}">
			                <option value="">Elegir...</option>
			                <option value="Alimento">Alimento</option>
							<option value="Juguete">Juguete</option>
							<option value="Vestimenta">Vestimenta</option>
							<option value="Cuidado">Cuidado</option>
			              </select>
			              <div class="text-danger" th:if="${#fields.hasErrors('categoriaProducto')}" th:errors="*{categoriaProducto}"></div>
			            </div>

			            <div class="row mb-3">
					        <div class="col-sm-3 text-center">
					        	<button class="btn btn-outline-primary" type="submit">Guardar</button>
					        </div>	
					        <div class="col-sm-2">
					        	<a th:href="@{/producto/listado}" class="btn btn-outline-danger">Cancelar</a>
					        </div>
				    	</div>
			            
			            <hr class="my-4">
	          
			          </div>
			        </form>
				</div>
			</div>
		</main>
	</div>	 			
	<footer th:replace="~{layouts/footer :: footer}"></footer>
  </body>
</html>