<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
	    <div class="container">
	       <main>
	         <article>
		         <h2>SERVICIO DE PASEOS</h2>
		         <h3>Tabla de horarios</h3>
		         <!-- Creamos la tabla con borde y con espacio entre celdas -->
		         <table class="tabla-servicios">
		              <!-- Creamos la primera fila de la tabla que contiene los encabezados de las columnas -->
		              <tr>
		                 <!-- La primera columna es el encabezado de Día -->
		                 <th>Día</th>
		                 <!-- Las siguientes columnas son los días de la semana como encabezados -->
			             <th>Lunes</th>
			             <th>Martes</th>
			             <th>Miércoles</th>
			             <th>Jueves</th>
			             <th>Viernes</th>
			             <th>Sábado</th>
			          </tr>
		               <!-- Creamos la segunda fila de la tabla que contiene los horarios de cada día -->
		              <tr>
			              <!-- La primera columna es el encabezado de Horario -->
			              <th><b>Horario</b></th>
				              <!-- Las siguientes columnas son los horarios de cada día -->
				              <td>9 a 12 - 16 a 18</td>
				              <td>9 a 12 - 16 a 18</td>
				              <td>9 a 12 - 16 a 18</td>
				              <td>9 a 12 - 16 a 18</td>
				              <td>9 a 12 - 16 a 18</td>
				              <td>9 a 12 - 16 a 18</td>
		              </tr>
		              <!-- Creamos la tercera fila de la tabla que contiene los nombres de los paseadores para cada día -->
		              <tr>
			              <!-- La primera columna es el encabezado de Paseador -->
			              <th><b>Paseador</b></th>
				              <!-- Las siguientes columnas son los nombres de los paseadores para cada día -->
				              <td><a th:href="@{#}" target=_blank>Juan Pérez</a></td>
				              <td><a th:href="@{#}" target=_blank>Lucas Díaz</a></td>
				              <td><a th:href="@{#}" target=_blank>Lucas Díaz</a></td>
				              <td><a th:href="@{#}" target=_blank>Roberto Vázquez</a></td>
				              <td><a th:href="@{#}" target=_blank>Juan Pérez</a></td>
				              <td><a th:href="@{#}" target=_blank>Lucas Díaz</a></td>
		              </tr>
		              <tr>
		            	<td colspan="7"> * <span class="resaltar">Horarios sujeto a cambios</span></td>
		             </tr>
		          </table>
	          </article>
	       </main>
	    </div>
	   <footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>
