<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	 <head th:replace="~{layouts/head :: head}">
	 </head>
	 <body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
	
		<div class="container">
			<main>
				<div class="row g-5">
			      <div class="col-md-7 col-lg-8 mx-auto">
			        <h3 class="mt-5 mb-3" th:text="${edicion}?'Modificar Servicio':'Nuevo Servicio'"></h3>
			        
			        <form th:action="${edicion}?@{/servicio/modificar}:@{/servicio/guardar}" th:object="${servicio}" method="post">
			          <div class="row g-3">
			          
				          <div class="col-sm-6">
				             <label for="codigo" class="form-label">Código del Servicio</label>
				             <input type="number" class="form-control" id="codigo" name="servicio_codigo" th:field="*{codigoServ}" th:readonly="${edicion}?'readonly'" value="" required>  
				          </div>		

		 		          <div class="col-sm-6">
					           <label for="nombre" class="form-label">Nombre del Servicio</label>
					           <input type="text" class="form-control" id="nombre" name="servicio_nombre" th:field="*{nombreServ}" value="" required>
					       </div>
					            
					       <div class="col-sm-12">
					           <label for="descripcion" class="form-label">Descripción del Servicio</label>
					           <input type="text" class="form-control" id="descripcion" name="servicio_descripcion" th:field="*{descripcionServ}" value="" required>
					       </div>
					       			          
						   <div class="col-sm-6">
						        <label for="precio" class="form-label">Precio del Servicio</label>
						        <input type="number" class="form-control" id="precio" name="servicio_precio" th:field="*{precioServ}" value="" required >  
						   </div>
						        
					   	   <div class="col-md-4">
							    <label for="categoria" class="form-label">Categoría del Servicio</label>
					            <select class="form-select" id="categoria" name="servicio_categoria" th:field="*{categoriaServ}" value="" required >
							         <option value="">Elegir...</option>
						             <option value="hora">Por Horas</option>
						    		 <option value="tarea">Por Tarea</option>
						        </select>
							</div>				 
				        
				            <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>		           
				            <hr class="my-4">
			          </div>
			        </form>
				</div>
			</div>
		</main>
	</div>	 		
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>