<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/estilos.css" />
    <title>Tienda de Mascotas - G32</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="Tienda de Mascotas" />
      <h1>TIENDA DE MASCOTAS</h1>
      <p>
        • Soluciones integrales para tus mascotas<br />
        • Lo pedís, lo tenés - ENVÍOS GRATIS<br />
        • TIPS para mascotas felices<br />
        • Adoptá a tu mascota
      </p>
    </header>

    <nav>
      <ul>
        <li><a href="index.html" title="Página de Inicio">Inicio</a></li>
        <li><a href="productos.html" title="Productos">Productos</a></li>
        <li>
          <a href="consejos.html" title="Consejos">Consejos de Salud</a>
        </li>
        <li>
          <a href="servicio-de-paseo.html" title="Servicio de Paseos"
            >Servicio de Paseos</a
          >
        </li>
        <li><a href="sucursales.html" title="Sucursales">Sucursales</a></li>
        <li><a href="contactos.html" title="Contactos">Contáctanos</a></li>
      </ul>
    </nav>
    <div class="container">
      <main>
        <article>
          <h2>SERVICIO DE PASEOS</h2>
          <h3>Tabla de horarios</h3>

          <!-- Creamos la tabla con borde y con espacio entre celdas -->
          <table class="tabla-servicios">
            <!-- Creamos la primera fila de la tabla que contiene los encabezados de las columnas -->
            <tr>
              <!-- La primera columna es el encabezado de Día -->
              <th>Día</th>
              <!-- Las siguientes columnas son los días de la semana como encabezados -->
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miércoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sábado</th>
            </tr>
            <!-- Creamos la segunda fila de la tabla que contiene los horarios de cada día -->
            <tr>
              <!-- La primera columna es el encabezado de Horario -->
              <th><b>Horario</b></th>
              <!-- Las siguientes columnas son los horarios de cada día -->
              <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
              <td>9 a 12 - 16 a 18</td>
            </tr>
            <!-- Creamos la tercera fila de la tabla que contiene los nombres de los paseadores para cada día -->
            <tr>
              <!-- La primera columna es el encabezado de Paseador -->
              <th><b>Paseador</b></th>
              <!-- Las siguientes columnas son los nombres de los paseadores para cada día -->
              <td><a href="#" target=_blank>Juan Pérez</a></td>
              <td><a href="#" target=_blank>Lucas Díaz</a></td>
              <td><a href="#" target=_blank>Lucas Díaz</a></td>
              <td><a href="#" target=_blank>Roberto Vázquez</a></td>
              <td><a href="#" target=_blank>Juan Pérez</a></td>
              <td><a href="#" target=_blank>Lucas Díaz</a></td>
            </tr>
            <tr>
            	<td colspan="7"> * <span class="resaltar">Horarios sujeto a cambios</span></td>
            </tr>
          </table>
        </article>
      </main>
    </div>
    <footer>
      <p>
        <strong>Tienda de Mascotas</strong> - Grupo 32 - &lt;Programación
        Visual&gt; - &copy; Copyright - Jujuy - Argentina.
      </p>
    </footer>
  </body>
</html>
