<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	 <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	 </head>
	 <body>
	    <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container">
			<main>
				<h3 th:text="${edicion}?'Modificar Servicio':'Nuevo Servicio'"></h3>
				<form th:action="${edicion}?@{/servicio/modificar}:@{/servicio/guardar}" th:object="${servicio}" method="post">
					<label for="codigo">Código del Servicio</label>
					<input type="number" id="codigo" name="servicio_codigo" th:field="*{codigoServ}" th:readonly="${edicion}?'readonly'"><br><br>
					<label for="nombre">Nombre del Servicio</label>
					<input type="text" id="nombre" name="servicio_nombre" th:field="*{nombreServ}"><br><br>
					<label for="descripcion">Descripción del Servicio</label>
					<input type="text" id="descripcion" name="servicio_descripcion" th:field="*{descripcionServ}"><br><br>
					<label for="categoria">Categoria</label>
					<select id="categoria" name="servicio_categoria" th:field="*{categoriaServ}"><br><br>
						<option value="hora">Por Horas</option>
						<option value="tarea">Por Tarea</option>
					</select><br><br>
					<label for="precio">Precio</label>
					<input type="number" id="precio" name="servicio_precio" th:field="*{precioServ}"><br><br>
					
					<p>
						<input type="submit" class="button" th:value=${edicion}?'Modificar':'Guardar'>
					</p>
				</form>		
		    </main>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>