<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{layouts/head :: head}">
		<!-- <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">  --> 
	    <title>Tienda de Mascotas - G32</title>
	</head>
	<body >		
		<header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<section id="content-sucursal" class="secSucursal">
			<h3 class="mt-5 mb-3">Listado de Sucursal</h3>
			<table class="table table-striped table-hover mb-5">
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nombre</th>
					<th scope="col">Dirección</th>
					<th scope="col">Provincia</th>
					<th scope="col">Fecha Inicio</th>
					<th scope="col">E-mail</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Acciones</th>
				</tr>
				
				<tr th:each="sucu: ${sucursales}">
					<td th:text="${sucu.codigo}"></td>
					<td th:text="${sucu.nombre}"></td>
					<td th:text="${sucu.direccion}"></td>
					<td th:text="${sucu.provincia}"></td>
					<td th:text="${#temporals.format(sucu.fechaInicio,'dd/MM/yyyy')}"></td>
					<td th:text="${sucu.email}"></td>
					<td th:text="${sucu.telefono}"></td>
					<td>						
					   <a th:href="@{/sucursal/modificar/}+${sucu.nombre}" class="btn btn btn-outline-success btn-sm">Editar</a>
	   				   <a th:href="@{/sucursal/eliminar/}+${sucu.nombre}"  class="btn btn btn-outline-danger btn-sm"> Eliminar</a>
					</td>
				</tr>
			</table>
		</section>
		
		<br>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>