<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	    <title>Tienda de Mascotas - G32</title>
	</head>
	<body >		
		 <header th:replace="~{layouts/header :: header}"></header>
	    <nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<!-- <section id="content-sucursal" class="secSucursal">
			<a th:href="@{/sucursal/nuevo}">Nueva Sucursal</a>  -->
			<table class="tabla-listados">
				<tr>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>Provincia</th>
					<th>Fecha Inicio</th>
					<th>E-mail</th>
					<th>Telefono</th>
					<th>Acciones</th>
				</tr>
				
				<tr th:each="sucu: ${sucursales}">
					<td th:text="${sucu.nombre}"></td>
					<td th:text="${sucu.direccion}"></td>
					<td th:text="${sucu.provincia}"></td>
					<td th:text="${#temporals.format(sucu.fechaInicio,'dd/MM/yyyy')}"></td>
					<td th:text="${sucu.email}"></td>
					<td th:text="${sucu.telefono}"></td>
					<td>						
					   <a th:href="@{/sucursal/modificar/}+${sucu.nombre}">Editar</a>
	   				   <a th:href="@{/sucursal/eliminar/}+${sucu.nombre}">Eliminar</a>
					</td>
				</tr>
			</table>
		</section>
		
		<br>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
	</html>