<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}">
<!-- <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" th:href="@{/css/estilos.css}">  -->
</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<div class="container">
		<h2 class="mt-5">NUESTRAS SUCURSALES</h2>
		<br>
		<main>
			<section>
				<div class="card mb-5 bg-light">
					<div class="row g-2 align-items-center">
						<div class="col-md-4">
							<img src="/images/sucursal0.jpg" class="img-fluid rounded-start"
								alt="Logo tienda">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2 class="card-title">Sucursal Casa Central</h2>
								<p class="card-text">Lavalle 850 - Centro - S.S de Jujuy</p>
								<p class="card-text">Tel: 388-483743</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="card mb-5 bg-light">
					<div class="row g-2 align-items-center">
						<div class="col-md-4">
							<img src="/images/sucursal1.jpg" class="img-fluid rounded-start"
								alt="Logo tienda">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2 class="card-title">Sucursal Palpalá</h2>
								<p class="card-text">Juan Yufre 1150 - Palpalá</p>
								<p class="card-text">Tel: 388-4523666</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="card mb-5 bg-light">
					<div class="row g-2 align-items-center">
						<div class="col-md-4">
							<img src="/images/sucursal2.jpg" class="img-fluid rounded-start"
								alt="Logo tienda">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2 class="card-title">Sucursal El Carmen</h2>
								<p class="card-text">Urquiza 560 Esq. Alberdi - El Carmen</p>
								<p class="card-text">Tel: 388-4208919</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="card mb-5 bg-light">
					<div class="row g-2 align-items-center">
						<div class="col-md-4">
							<img src="/images/sucursal3.jpg" class="img-fluid rounded-start"
								alt="Logo tienda">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h2 class="card-title">Sucursal Perico</h2>
								<p class="card-text">Periconi 99 - Perico</p>
								<p class="card-text">Tel: 388-4452668</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<aside>
			<p></p>
		</aside>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>