<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Sucursales</title>
	</head>
	<body >		
		<header>
		  <center>
			<img src="../static/images/logo.png" alt="Tienda De Mascotas">
			<h1>TIENDA DE MASCOTAS</h1>
			<p>Soluciones integrales para la atención de tus mascotas</p>
			<p>Lo pedís, lo tenés - ENVIOS GRATIS</p>
			<p>TIPS para mascotas felices</p>
			<p>Adoptá a tu mascota</p>
		  </center>	
		</header>
		  <center>
			<nav> 
			  <ul>
				<a href="index.html">Inicio</a>
			    <a href="productos.html">Productos</a>
				<a href="consejos.html">Salud</a>
				<a href="servicio-de-paseo.html">Servicios de Paseo</a>
				<a href="sucursales.html">Sucursales</a>
				<a href="contactos.html">Contacto </a>
			  </ul>           
			</nav>
		  </center>
		<br>
		<section>
			<p>
				<h3>Sucursal Casa Central</h3>
				<p>Lavalle 850 - Centro - S.S de Jujuy</p>
				<p>Tel: 388 - 4231584</p>
			</p><br>
			<p>
				<h3>Sucursal Palpala</h3>
				<p>Juan Yufre 1150 - Palpala</p>
				<p>Tel: 388 - 4123456</p>
			</p><br>
			<p>
				<h3>Sucursal El Carmen</h3>
				<p>carmen 560 - El Carmen</p>
				<p>Tel: 388 - 4232323</p>
			</p><br>
			<p>
				<h3>Sucursal Perico</h3>
				<p>perico 99 - Perico</p>
				<p>Tel: 388 - 4247896</p>
			</p><br>
		</section>
		<aside>
			<p></p>
		</aside>
		<br>
		<footer>
			<center>
			 	<p>
			 	 Copyright 2023 - Sucursales - Diseñado por Grupo 32 - Jujuy - Republica Argentina
			 	</p>
			</center>	
		 </footer>
	</body style="background -color:">