<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
	<footer class="text-center text-white bg-primary bg-gradient" th:fragment="footer">
	
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Íconos de Redes Sociales -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-facebook"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-twitter"></i>
      </a>

      <!-- Tiktok -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-tiktok"></i>
      </a>

      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-youtube"></i>
      </a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-whatsapp"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-instagram"></i>
      </a>
    </section>
    <!-- Section: Redes Sociales -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    <strong>Tienda de Mascotas</strong> - Grupo 32 - &lt;Programación
	        Visual&gt; - &copy; Copyright - Jujuy - Argentina.
    
  </div>
  <!-- Copyright -->
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
	
	</body>
</html>