<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<nav th:fragment="nav">
			<ul class="menu-horizontal">
		        <li><a th:href="@{/inicio}" title="Página de Inicio">Inicio</a></li>
		        <li><a th:href="@{/producto}" title="Productos">Productos</a> 
				<ul class="menu-vertical">
					<li><a th:href="@{/producto/listado}" title="Listado de Productos">Listado</a></li>
					<li><a th:href="@{/producto/nuevo}" title="Nuevo Producto">Nuevo</a></li> 
					
				</ul>
				</li>
		        <li><a th:href="@{/consejo}" title="Consejos">Consejos de Salud</a>
			         <ul class="menu-vertical">
						<li><a th:href="@{/consejo/listado}" title="Listado de Consejos">Listado</a></li>
						<li><a th:href="@{/consejo/nuevo}" title="Nuevo Consejo">Nuevo</a></li> 
					</ul>
				</li>
		        <li><a th:href="@{/servicio}" title="Servicio de Paseos">Servicio de Paseos</a>
			        <ul class="menu-vertical">
						<li><a th:href="@{/servicio/listado}" title="Listado de Consejos">Listado</a></li>
						<li><a th:href="@{/servicio/nuevo}" title="Nuevo Consejo">Nuevo</a></li> 
					</ul>
				</li>	
		        <li><a th:href="@{/sucursalIndex}" title="Sucursales">Sucursales</a>
			        <ul class="menu-vertical">
						<li><a th:href="@{/sucursal/listado}" title="Listado de Sucursales">Listado</a></li>
						<li><a th:href="@{/sucursal/nuevo}" title="Nueva Sucursal">Nuevo</a></li> 
					</ul>
				</li>
		        <li><a th:href="@{/contacto}" title="Contactos">Contáctanos</a></li>
	       </ul>
		</nav>
	</body>
</html>